/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
  }
  
  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .grid-item:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .grid-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .grid-item p {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  /* Footer Buttons */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .footer-buttons button {
    background-color: #16c419;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .footer-buttons button:hover {
    background-color: #ddd;
    transform: scale(1.1);
  }
  
  .animated-btn {
    animation: pulse 1.5s infinite;
  }
  
  /* Button Animation */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  